body {
    margin: 0;
    background: black;
    color: white;
}

.title {
    background-color: black;
    width: 100%;
    font-size: 20px;
    color: dimgray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 10px 0px;
}

.drop-title {
    font-size:xx-large;
}

.flex-box {
    display: flex;
}

.wz-image {
    max-width: 100%;
    height: auto;
}

.btn {
    text-align: center;
}

.button {
    font-size: 30px;
}

.drop-results {
    font-size: 40px;
    margin-top: 30px;
}

.summit-pin {
    margin-top: 25px;
    margin-left: 85px;
    position: absolute;
    width: 32px;
    height: auto;
    /*display: none;*/
}

.mili-pin {
    margin-top: 23px;
    margin-left: 170px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.salt-pin {
    margin-top: 45px;
    margin-left: 235px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.array-pin {
    margin-top: 100px;
    margin-left: 220px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.tv-pin {
    margin-top: 110px;
    margin-left: 190px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.air-pin {
    margin-top: 105px;
    margin-left: 90px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.super-pin {
    margin-top: 125px;
    margin-left: 115px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.factory-pin {
    margin-top: 135px;
    margin-left: 145px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.storage-pin {
    margin-top: 135px;
    margin-left: 80px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.stadium-pin {
    margin-top: 145px;
    margin-left: 228px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.lumber-pin {
    margin-top: 143px;
    margin-left: 285px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.hospital-pin {
    margin-top: 177px;
    margin-left: 165px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.bone-pin {
    margin-top: 177px;
    margin-left: 77px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.train-pin {
    margin-top: 188px;
    margin-left: 120px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.dt-pin {
    margin-top: 190px;
    margin-left: 212px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.farm-pin {
    margin-top: 185px;
    margin-left: 275px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.pe-pin {
    margin-top: 208px;
    margin-left: 155px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.pw-pin {
    margin-top: 218px;
    margin-left: 93px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.hills-pin {
    margin-top: 242px;
    margin-left: 120px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.park-pin {
    margin-top: 232px;
    margin-left: 201px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.port-pin {
    margin-top: 225px;
    margin-left: 243px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}

.prison-pin {
    margin-top: 256px;
    margin-left: 285px;
    position: absolute;
    width: 32px;
    height: auto;
    display: none;
}