body {
    background-color: black;
}

.red-dot {
    position: absolute;
}


.bootan {
    position: absolute;
    margin-top: 32rem;
    margin-left: 18.5rem;
}

.rez {
    position: absolute;
    margin-top: 31rem;
    margin-left: 3rem;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
}

.ultz {
    color: red;
    font-size: 1.5rem;
}

.pic {
    object-fit:scale-down;
}

.past {
    font-weight: bold;
    color: white;
    text-decoration: underline;
}

.places {
    color: white
}

.the-past {
    position: absolute;
    margin-left: 40rem;
    display: flex;
    flex: wrap;
    border: 3px solid white;
    width: 25rem;
    height: 35.3rem;
}